@-webkit-keyframes moveIn {from{left: 346px;}to{left: 0px;}}
@-webkit-keyframes moveOut {from{left: 0px;}to{left: 346px;}}
@-webkit-keyframes moveOut1 {from{left: 0px;}to{left: -346px;}}

@-webkit-keyframes walkGunMan1 {from{background-position: 0px;}to{background-position: -297px;}}
@-webkit-keyframes walkGunMan2 {from{background-position: -100px;}to{background-position: -301px;}}
@-webkit-keyframes walkGunMan3 {from{background-position: -80px;}to{background-position: -248px;}}
@-webkit-keyframes walkGunMan4 {from{background-position: -100px;}to{background-position: -304px;}}
@-webkit-keyframes walkGunMan5 {from{background-position: -98px;}to{background-position: -302px;}}

@-webkit-keyframes gunMan1Falling {from{background-position: -1011px;}to{background-position: -1115px;}}
@-webkit-keyframes gunMan2Falling {from{background-position: -626px;}to{background-position: -807px;}}
@-webkit-keyframes gunMan5Falling {from{background-position: -674px;}to{background-position: -777px;}}

@-webkit-keyframes laughingGunMan1 {from{background-position: -603px;}to{background-position: -910px;}}
@-webkit-keyframes laughingGunMan2 {from{background-position: -394px;}to{background-position: -623px;}}
@-webkit-keyframes laughingGunMan3 {from{background-position: -345px;}to{background-position: -615px;}}
@-webkit-keyframes laughingGunMan4 {from{background-position: -401px;}to{background-position: -698px;}}
@-webkit-keyframes laughingGunMan5 {from{background-position: -395px;}to{background-position: -673px;}}